In [94]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix

In [97]:
from sklearn.feature_extraction.text import TfidfVectorizer  #td-idf
from sklearn.feature_extraction.text import CountVectorizer  #bog

In [96]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense,Flatten

In [29]:
df= pd.read_csv("BBC News.csv")

In [30]:
df

,ArticleId,Text,Category
0,1833,worldcom ex-boss launches defence lawyers defe...,business
1,154,german business confidence slides german busin...,business
2,1101,bbc poll indicates economic gloom citizens in ...,business
3,1976,lifestyle governs mobile choice faster bett...,tech
4,917,enron bosses in $168m payout eighteen former e...,business
...,...,...,...
1485,857,double eviction from big brother model caprice...,entertainment
1486,325,dj double act revamp chart show dj duo jk and ...,entertainment
1487,1590,weak dollar hits reuters revenues at media gro...,business
1488,1587,apple ipod family expands market apple has exp...,tech
1489,538,santy worm makes unwelcome visit thousands of ...,tech

In [31]:
df["Category"].unique()

array(['business', 'tech', 'politics', 'sport', 'entertainment'],
      dtype=object)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1490 entries, 0 to 1489
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ArticleId  1490 non-null   int64
 1   Text       1490 non-null   object
 2   Category   1490 non-null   object
dtypes: int64(1), object(2)
memory usage: 35.0+ KB

In [33]:
df["Text"][9]

'fockers fuel festive film chart comedy meet the fockers topped the festive box office in north america  setting a new record for christmas day.  the sequel took $44.7m (£23.2m) between 24 and 26 december  according to studio estimates. it took $19.1m (£9.9m) on christmas day alone  the highest takings on that day in box office history. meet the fockers is the sequel to ben stiller comedy meet the parents  also starring robert de niro  blythe danner  dustin hoffman and barbra streisand. despite the success of meet the fockers  takings were down 26.5% on 2003 s figures - which was blamed on christmas falling over a weekend this year.   when christmas falls on a weekend  it s bad for business   said paul dergarabedian  president of exhibitor relations  which compiles box office statistics. the weekend s top 12 films took an estimated $121.9m (£63.3m)  compared with $165.8m (£86.1m) last year  when the third lord of the rings film dominated the box office. meet the fockers knocked last week s top film  lemony snicket s a series of unfortunate events  down to third place  with $12.5m (£6.5m). comedy fat albert - co-written by bill cosby - entered the chart in second place after opening on christmas day  taking $12.7m (£6.6m). the aviator  starring leonardo dicaprio as howard hughes  took $9.4m after expanding from 40 to 1 796 cinemas on christmas day.'

In [34]:
df["Category"][9]

'entertainment'

In [35]:
vector= CountVectorizer(stop_words="english")

In [36]:
bow = vector.fit_transform(df["Text"])

In [37]:
bow

<1490x24456 sparse matrix of type '<class 'numpy.int64'>'
	with 213866 stored elements in Compressed Sparse Row format>

In [38]:
type(bow)

scipy.sparse._csr.csr_matrix

In [39]:
bow.shape

(1490, 24456)

In [40]:
# len(bow.vocabulary_)

In [41]:
x=pd.DataFrame(bow.toarray(), columns=vector.get_feature_names_out())

In [42]:
x

,00,000,0001,000bn,000m,000th,001,001and,001st,0051,...,zonealarm,zones,zoom,zooms,zooropa,zorro,zuluaga,zurich,zutons,zvonareva
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1485,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1486,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1487,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1488,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1489,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [43]:
y= df["Category"]

In [44]:
y

0            business
1            business
2            business
3                tech
4            business
            ...
1485    entertainment
1486    entertainment
1487         business
1488             tech
1489             tech
Name: Category, Length: 1490, dtype: object

In [45]:
from sklearn.preprocessing import LabelEncoder

In [46]:
# initialize LabelEncoder
lencod = LabelEncoder()
# fit_transform() converts the text to numbers
df["Category"]= lencod.fit_transform(df['Category'])

In [47]:
df["Category"]

0       0
1       0
2       0
3       4
4       0
       ..
1485    1
1486    1
1487    0
1488    4
1489    4
Name: Category, Length: 1490, dtype: int32

In [48]:
y=df["Category"]

Activity : 1. For the bbc dataset apply the ML model for classification

In [49]:
x_train, x_test, y_train , y_test = train_test_split(x,y,
                                                    test_size=0.2,random_state=134)

In [50]:
from sklearn.tree import DecisionTreeClassifier

In [58]:
knn = KNeighborsClassifier(n_neighbors=13,)
knn.fit(x_train, y_train)
y_pred = knn.predict(x_test)
accuracy_score(y_test, y_pred)

c:\ProgramData\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

0.4597315436241611

In [59]:
dt = DecisionTreeClassifier()
dt.fit(x_train, y_train)
y_pred = dt.predict(x_test)
accuracy_score(y_test, y_pred)

0.8557046979865772

In [60]:
sc = SVC()
sc.fit(x_train, y_train)
y_pred = sc.predict(x_test)
accuracy_score(y_test, y_pred)

0.9563758389261745

In [61]:
rf = RandomForestClassifier()
rf.fit(x_train, y_train)
y_pred = rf.predict(x_test)
accuracy_score(y_test, y_pred)

0.9530201342281879

In [62]:
confusion_matrix(y_test, y_pred)

array([[62,  0,  4,  0,  0],
       [ 1, 47,  0,  1,  1],
       [ 3,  1, 39,  1,  0],
       [ 0,  0,  0, 85,  0],
       [ 2,  0,  0,  0, 51]], dtype=int64)

## NN

In [89]:
model = Sequential()
model.add(Dense(32, input_shape = (24456,),activation = "linear"))
model.add(Dense(16,activation = "relu"))
model.add(Dense(16,activation = "relu"))
model.add(Dense(16,activation = "relu"))
model.add(Dense(1))

In [90]:
model.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_25 (Dense)            (None, 32)                782624

 dense_26 (Dense)            (None, 16)                528

 dense_27 (Dense)            (None, 16)                272

 dense_28 (Dense)            (None, 16)                272

 dense_29 (Dense)            (None, 1)                 17

=================================================================
Total params: 783,713
Trainable params: 783,713
Non-trainable params: 0
_________________________________________________________________

In [91]:
model.compile(optimizer="adam", loss = "binary_crossentropy", metrics =['accuracy'])

In [92]:
model.fit(x_train, y_train, epochs =20)

Epoch 1/20
38/38 [==============================] - 3s 23ms/step - loss: -5.6868 - accuracy: 0.2131
Epoch 2/20
38/38 [==============================] - 1s 25ms/step - loss: -16.3492 - accuracy: 0.3733
Epoch 3/20
38/38 [==============================] - 1s 23ms/step - loss: -17.2857 - accuracy: 0.3943
Epoch 4/20
38/38 [==============================] - 1s 22ms/step - loss: -17.3892 - accuracy: 0.3993
Epoch 5/20
38/38 [==============================] - 1s 22ms/step - loss: -17.4294 - accuracy: 0.4018
Epoch 6/20
38/38 [==============================] - 1s 22ms/step - loss: -17.4325 - accuracy: 0.4027
Epoch 7/20
38/38 [==============================] - 1s 23ms/step - loss: -17.4340 - accuracy: 0.4027
Epoch 8/20
38/38 [==============================] - 1s 24ms/step - loss: -17.4349 - accuracy: 0.4027
Epoch 9/20
38/38 [==============================] - 1s 24ms/step - loss: -17.4354 - accuracy: 0.4027
Epoch 10/20
38/38 [==============================] - 1s 25ms/step - loss: -17.4356 - accuracy: 0.4027
Epoch 11/20
38/38 [==============================] - 1s 24ms/step - loss: -17.4359 - accuracy: 0.4027
Epoch 12/20
38/38 [==============================] - 1s 24ms/step - loss: -17.4361 - accuracy: 0.4027
Epoch 13/20
38/38 [==============================] - 1s 25ms/step - loss: -17.4362 - accuracy: 0.4027
Epoch 14/20
38/38 [==============================] - 1s 25ms/step - loss: -17.4364 - accuracy: 0.4027
Epoch 15/20
38/38 [==============================] - 1s 24ms/step - loss: -17.4365 - accuracy: 0.4027
Epoch 16/20
38/38 [==============================] - 1s 24ms/step - loss: -17.4365 - accuracy: 0.4027
Epoch 17/20
38/38 [==============================] - 1s 24ms/step - loss: -17.4365 - accuracy: 0.4027
Epoch 18/20
38/38 [==============================] - 1s 24ms/step - loss: -17.4366 - accuracy: 0.4027
Epoch 19/20
38/38 [==============================] - 1s 27ms/step - loss: -17.4366 - accuracy: 0.4027
Epoch 20/20
38/38 [==============================] - 1s 23ms/step - loss: -17.4366 - accuracy: 0.4027

In [93]:
model.evaluate(x_test, y_test)

10/10 [==============================] - 0s 6ms/step - loss: -18.4273 - accuracy: 0.3289

[-18.42728042602539, 0.3288590610027313]

## 2. Apply TFIDF and do ML model buuilding

In [110]:
tdidf=TfidfVectorizer(stop_words="english")

In [112]:
td_idf=tdidf.fit_transform(df["Text"])

In [113]:
td_idf

<1490x24456 sparse matrix of type '<class 'numpy.float64'>'
	with 213866 stored elements in Compressed Sparse Row format>

In [114]:
type(td_idf)

scipy.sparse._csr.csr_matrix

In [115]:
td_idf.shape

(1490, 24456)

In [116]:
X= pd.DataFrame(td_idf.toarray(), columns=tdidf .get_feature_names_out())

In [107]:
X

,00,000,0001,000bn,000m,000th,001,001and,001st,0051,...,zonealarm,zones,zoom,zooms,zooropa,zorro,zuluaga,zurich,zutons,zvonareva
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1485,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1486,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1487,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1488,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1489,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [117]:
Y=df["Category"]

In [118]:
Y

0       0
1       0
2       0
3       4
4       0
       ..
1485    1
1486    1
1487    0
1488    4
1489    4
Name: Category, Length: 1490, dtype: int32

In [119]:
x_train, x_test, y_train , y_test = train_test_split(X,Y,
                                                    test_size=0.2,random_state=134)

In [120]:
knn = KNeighborsClassifier(n_neighbors=13,)
knn.fit(x_train, y_train)
y_pred = knn.predict(x_test)
accuracy_score(y_test, y_pred)

c:\ProgramData\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

0.9530201342281879

In [122]:
dt = DecisionTreeClassifier()
dt.fit(x_train, y_train)
y_pred = dt.predict(x_test)
accuracy_score(y_test, y_pred)

0.8489932885906041

In [123]:
sc = SVC()
sc.fit(x_train, y_train)
y_pred = sc.predict(x_test)
accuracy_score(y_test, y_pred)

0.9765100671140939

In [124]:
rf = RandomForestClassifier()
rf.fit(x_train, y_train)
y_pred = rf.predict(x_test)
accuracy_score(y_test, y_pred)

0.9697986577181208